<div class="fx">
  
  <div class="sbar">
      <ul class="list-group">

        {{#link-to "dropdown" class="list-group-item"}}
          Dropdown
        {{/link-to}}

        {{#link-to "button" class="list-group-item"}}
          Button
        {{/link-to}}

        {{#link-to "tabs" class="list-group-item"}}
          Tabs
        {{/link-to}}

        {{#link-to "accordion" class="list-group-item"}}
          Accordion
        {{/link-to}}

        {{#link-to "dialog" class="list-group-item"}}
          Dialog
        {{/link-to}}

        {{#link-to "form" class="list-group-item"}}
          Form
        {{/link-to}}
       
    </ul>    

  </div>

    {{outlet}}    

</div>




