


<div class="mlr20">

	docFooterActions :: {{docFooterActions}}	
	newtabdialog :: {{newtabdialog}}	


<h1 id="dropdowns" class="page-header">
<a class="anchorjs-link " href="#dropdowns" aria-label="Anchor link for: dropdowns" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Dropdowns</h1>


<h4 id="dropdowns-example"><a class="anchorjs-link " href="#dropdowns-example" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a> Defining menu items modal </h4>


<div class="bs-docs-section example">

   {{#modal-dropdown  role="presentation" modal=createElementAction classname="dropdown-menu" target="controller:dropdown"}}
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    		File
	    <span class="caret"></span>
	  </button>

	{{/modal-dropdown}}	
	
</div>


<div class="highlight">
	<pre>
		<code class="language-html" data-lang="html">

			


		</code>
	</pre>
</div>





<h4 id="dropdowns-example"><a class="anchorjs-link " href="#dropdowns-example" aria-label="Anchor link for: dropdowns example" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a> Defining menu item action </h4>


<div class="highlight">
	<pre>
		<code class="language-html" data-lang="html">

			


		</code>
	</pre>
</div>





</div>

	

{{#modal-dialog name="newtabdialog" target="controller:dropdown"}}
	
	{{#if newtabdialog}}

	    <div class="modal-content">

	      	<div class="modal-header">

		   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">
		        	 New tab
		        </h4>
	      </div>

	      <div class="modal-body">
	        	March
	      </div>

	      {{#modal-dialog-footer type="confirm" target="controller:dropdown" footeractions=docFooterActions }}

	      {{/modal-dialog-footer}}

	    </div>

	{{/if}}

{{/modal-dialog}}